#nav
  .container-fluid
    .row-fluid
      .span3
      .span1.services
        %a{:href => "#services"}SERVICES
      .span1.portfolio
        %a{:href => "#portfolio"}PORTFOLIO
      .span2
        %a.logo{:href => "#top"}

      .span1.about
        %a{:href => "#about"}ABOUT
      .span1.contact
        %a{:href => "#contact"}CONTACT
      .span3

%section.section-1
  %a#top
  .header_logo_container
    %h1 Nectar Events

  .container-fluid.header
    .container
      .row-fluid
        .span1
        .span10
          / %h2.text-left.header-text
          /   Welcome to Nectar.
          %h3.text-left.header-text
            %img{:src => "images/text-collage.png"}
        .span1



%section.section-2
  %a#services
  .container-fluid
    .container.top
      .row-fluid
        .span1
        .span4.decoBorder
          %h3.text-center
            Services
          %p.text-center.dark_text
            We specialize in crafty, unique and tastefully designed events. Whether you’re looking for a little (or a lot of) inspiration for your wedding, bridal shower, or baby shower, we convert good ideas into great, truly one-of-a kind experiences for you and your guests.
        .span1
        .span6
          %img.img-polaroid{:src => "images/services.jpg"}/
  .container-fluid
    .container.top
      .row-fluid
        .span12
          %h1
            Weddings
      .row-fluid
        .span4.card
          %h5
            Full Event Planning
            %br
            / (Local or Destination Wedding)
          %p
            From start to finish we’ve got you covered from the initial consultation where we get to learn more about your personality and vision, through to the planning of the rehearsal dinner, the big day, and any post-wedding events.
        .span4.card
          %h5
            Day of Wedding Coordinator
          %p
            You have the vision but don’t want the day-of-stress. Let us take care of executing all of the details.
        .span4.card
          %h5
            Wedding Add-ons
          %p
            Thanks to your own hard work, you’re set for the big day. Contact us to find out more about our ‘a la carte’ add-ons such as brainstorming consultations, rehearsal dinner planning and setting-up the post-wedding day festivities.
    .container.top
      .row-fluid
        .span2
        .span4
          %h1
            Bridal Showers
        .span4
          %h1
            Baby Showers
        .span2
      .row-fluid
        .span2
        .span4.card
          %p
            Hosting a shower can be a daunting task. We’ll take care of all of the different elements of the party: invitations, menu, games, favors and prizes, and of course, the décor. Our aim is to create an event that is fun and memorable for not only the bride, but her friends and family as well.  We’ll incorporate the bride’s favorite foods, drinks, and personal style into the shower theme.
        .span4.card
          %p
            Hosting a successful baby shower comes down to planning and organization. We’ll incorporate the freshest ideas for throwing a modern-day baby shower. Whether it’s a co-ed shower or same-sex, we’ll keep it all in order.
        .span2
  .container-fluid
    .container.top
  /     .row-fluid
  /       .span2
  /       .span8
  /         %h3.text-center
  /           Specialties
  /         .row-fluid
  /           .span6
  /             %ul.text-left.dark_text
  /               %li
  /                 %p
  /                   Vendor bookings and vendor recommendations including entertainment, photography, wedding cake designers, caterers, florists, makeup artists and hairstylists, transportation, honeymoon travel and more
  /           .span6
  /             %ul.text-left.dark_text
  /               %li
  /                 %p
  /                   Décor, design and accessories
  /               %li
  /                 %p
  /                   Party favors
  /               %li
  /                 %p
  /                   Invitations, signage, and placecards
  /               %li
  /                 %p
  /                   Coordination of any pre-and-post events
  /               %li
  /                 %p
  /                   Same-sex events

  /       .span2
%section.section-3
  %a#portfolio
  .container-fluid
    .container.top
      .row-fluid
        .span3
        .span6
          %h3.text-center
            Kristin & Rob's Wedding
          %p.text-center
        .span3
      .row-fluid
        #container
          .item.hero
            .slideshow
              %img{:src => 'images/krobstin3.jpg'}/
              %img{:src => 'images/krobstin4.jpg'}/
              %img{:src => 'images/krobstin5.jpg'}/
          .item.h2
            .slideshow
              %img{:src => 'images/krobstin.jpg'}/
              %img{:src => 'images/table-top.jpg'}/
          .item
            %img{:src => "images/flower_girl.jpg"}/
          .item
            %img{:src => "images/succulents1.jpg"}/
          .item.h2
            %img{:src => "images/cake.jpg"}/
          .item.w1
            %img{:src => "images/flowers4.jpg"}/
          .item
            %img{:src => "images/krobstin2.jpg"}/
          .item.h2
            %img{:src => "images/chalkboard1.jpg"}/
          .item
            %img{:src => "images/krobstin1.jpg"}/
          .item
            %img{:src => "http://fillmurray.com/285/286"}/
          .item
            %img{:src => "http://fillmurray.com/284/285"}/



%section.section-4
  %a#about
  .container-fluid
    .container.top
      .row-fluid
        .span12
          %h3
            About
      .row-fluid
        .span12
          %img{:src => "images/KandM.jpg"}/
    .container.top
      .row-fluid
        .span6.text-left
          %p
            At a very young age, Kristin and Marisa – sisters and best friends – have known that they would go into business together. The sisters grew up in Miami, FL then embarked on separate adventures, but came back to live once again together in New Orleans, LA, Paris, France and San Francisco, CA. They tend to say the same thing at the same time and have affectionately been known to be ‘partners in wine.’ Although their similarities stand out, so do their differences – making for perfect business partners. Together they bring the perfect combination of creativity, sass, business, and customer service.
          %p
            Kristin is a nationally published writer and editor who has spent the last 10+ years writing about everything from fashion, design and decor to culture, gourmet food and wine. Celebrated for her timeless style, passion for perfection and unmatched service level to her clients, Kristin loves to fuss over all the little details – from color palettes, to invitation fonts to flowers – and can help make your wedding day or event everything you’ve dreamed of and more.
        .span6.text-left
          %p
            Marisa has nearly a decade of experience planning small-and-large-scale events for various non-profit organizations, managing a portfolio of national accounts in diverse industries, as well as conducting community outreach and business development. It’s said that Marisa can be a perfectionist, coordinating every aspect of an event to ensure flawless execution. Under pressure, she remains enthusiastic, full of energy and has excellent time management and organizational skills.
          %p
            These days, the sister’s passions include spending time with family, spoiling their pets, planning and hosting events that create a buzz, traveling to both familiar and new places, cooking, wine tasting, shopping for the perfect shirt or pair of flats, and home décor.

%section.section-5
  %a#contact
  .container-fluid
    .container.top
      .row-fluid
        .span12
          %h3.text-center

    .container.top
      .row-fluid
        .span4.text-left
          %h1
            Contact Us
          %p
            Send us an email or submit a request using the form below and we’ll schedule an initial phone conversation with you so that we can learn more about your event and style.
        .span1
        .span7
          %form.text-left
            %label{:for => "phone_number"} Name
            %input#phone_number{:name => "name", :type => "text", :placeholder => "Name"}/
            %label{:for => "phone_number"} Email
            %input#phone_number{:name => "phone_number", :type => "text", :placeholder => "yourname@email.com"}/
            %label{:for => "phone_number"} Subject
            %input#phone_number{:name => "phone_number", :type => "text", :placeholder => "subject"}/
            %label{:for => "phone_number"} Message
            %textarea{:name => "phone_number"}
      .row-fluid
        .span8
        .span2
          .button.btn
            Send
        .span2
.footer
  Nectar Events, LLC.